<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.LgBidMapper" >
  <resultMap id="BaseResultMap" type="com.model.LgBid" >
    <id column="bidId" property="bidid" jdbcType="INTEGER" />
    <result column="Goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="Quantity" property="quantity" jdbcType="VARCHAR" />
    <result column="Consignment" property="consignment" jdbcType="VARCHAR" />
    <result column="ReceivingPlace" property="receivingplace" jdbcType="VARCHAR" />
    <result column="bidTime" property="bidtime" jdbcType="VARCHAR" />
    <result column="bidStart" property="bidstart" jdbcType="INTEGER" />
    <result column="finishStart" property="finishstart" jdbcType="INTEGER" />
    <result column="Time" property="time" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    bidId, Goodsname, Quantity, Consignment, ReceivingPlace, bidTime, bidStart, finishStart, 
    Time, UserId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lgbid
    where bidId = #{bidid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lgbid
    where bidId = #{bidid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.LgBid" >
    insert into lgbid (bidId, Goodsname, Quantity, 
      Consignment, ReceivingPlace, bidTime, 
      bidStart, finishStart, Time, 
      UserId)
    values (#{bidid,jdbcType=INTEGER}, #{goodsname,jdbcType=VARCHAR}, #{quantity,jdbcType=VARCHAR}, 
      #{consignment,jdbcType=VARCHAR}, #{receivingplace,jdbcType=VARCHAR}, #{bidtime,jdbcType=VARCHAR}, 
      #{bidstart,jdbcType=INTEGER}, #{finishstart,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.model.LgBid" >
    insert into lgbid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bidid != null" >
        bidId,
      </if>
      <if test="goodsname != null" >
        Goodsname,
      </if>
      <if test="quantity != null" >
        Quantity,
      </if>
      <if test="consignment != null" >
        Consignment,
      </if>
      <if test="receivingplace != null" >
        ReceivingPlace,
      </if>
      <if test="bidtime != null" >
        bidTime,
      </if>
      <if test="bidstart != null" >
        bidStart,
      </if>
      <if test="finishstart != null" >
        finishStart,
      </if>
      <if test="time != null" >
        Time,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bidid != null" >
        #{bidid,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=VARCHAR},
      </if>
      <if test="consignment != null" >
        #{consignment,jdbcType=VARCHAR},
      </if>
      <if test="receivingplace != null" >
        #{receivingplace,jdbcType=VARCHAR},
      </if>
      <if test="bidtime != null" >
        #{bidtime,jdbcType=VARCHAR},
      </if>
      <if test="bidstart != null" >
        #{bidstart,jdbcType=INTEGER},
      </if>
      <if test="finishstart != null" >
        #{finishstart,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.LgBid" >
    update lgbid
    <set >
      <if test="goodsname != null" >
        Goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        Quantity = #{quantity,jdbcType=VARCHAR},
      </if>
      <if test="consignment != null" >
        Consignment = #{consignment,jdbcType=VARCHAR},
      </if>
      <if test="receivingplace != null" >
        ReceivingPlace = #{receivingplace,jdbcType=VARCHAR},
      </if>
      <if test="bidtime != null" >
        bidTime = #{bidtime,jdbcType=VARCHAR},
      </if>
      <if test="bidstart != null" >
        bidStart = #{bidstart,jdbcType=INTEGER},
      </if>
      <if test="finishstart != null" >
        finishStart = #{finishstart,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        Time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where bidId = #{bidid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.LgBid" >
    update lgbid
    set Goodsname = #{goodsname,jdbcType=VARCHAR},
      Quantity = #{quantity,jdbcType=VARCHAR},
      Consignment = #{consignment,jdbcType=VARCHAR},
      ReceivingPlace = #{receivingplace,jdbcType=VARCHAR},
      bidTime = #{bidtime,jdbcType=VARCHAR},
      bidStart = #{bidstart,jdbcType=INTEGER},
      finishStart = #{finishstart,jdbcType=INTEGER},
      Time = #{time,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=INTEGER}
    where bidId = #{bidid,jdbcType=INTEGER}
  </update>
  
  <select id="getLgBidPage" resultType="map">
select 
  	a.Goodsname, a.Quantity, a.Consignment, a.ReceivingPlace, a.bidTime, IF(a.bidStart=1,'已标选','未标选') as bidStart, a.finishStart, 
    a.Time,u.username
  	from lgbid a left join lguser u on a.userid = u.userid
  	where 1=1
  	<if test="startTime !=null and startTime !=''">
  		and a.time &gt;= #{startTime}
  	</if>
  	<if test="endTime !=null and endTime !=''">
  		and a.time &lt;= #{endTime}
  	</if>
  	<if test="userName !=null and userName !=''">
  		and u.username = #{userName}
  	</if>
  	order by a.time desc
  </select>
</mapper>